<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>first-page</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpendingServlet</servlet-name>
        <servlet-class>Servlets.GetSpendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdaterServlet</servlet-name>
        <servlet-class>Servlets.UpdaterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSpendingServlet</servlet-name>
        <url-pattern>/getSpending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>first-page</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>first-page</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdaterServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>
